.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 7rem auto 6rem;
    border: 1px solid rgba(128, 128, 128, 0.222);
    border-radius: 0.7rem;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.logo_wrapper {
    height: 80px;
    overflow: hidden;
    display: flex;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(34deg) brightness(102%) contrast(101%);
}

.headingContainer {
    width: 110%;
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
    overflow: hidden;
}

.bgImage {
    width: 800px;
    transform: scale(1.4);
    position: absolute;
    top: -4rem;
    right: -6rem;
    opacity: 0.7;
}